/* ROOT */

*, ::after, ::before {
    box-sizing: border-box
}
*, p{
    margin: 0;
    padding: 0;
}

:root{
    --white: #f4f6f6;
    --black: #010111;
    --primary: var(--black);
    --bg: var(--white);
}

html {
    background-color: var(--bg);
    color: var(--primary);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--primary)
}

/* UTILITY CLASSES, ATOMS...*/
figure, body, p {
    margin: 0;
}
.container{
    max-width: 120rem;
    margin: 2rem 2rem;
}
p{
    max-width: 40em;
}
img {
    max-width: 100%;
    aspect-ratio: 8/5;
    object-fit: cover;
}
.hamburger {
    display: none;
}
span {
    color: var(--primary);
}

/* HEADER */
header a{
    color: var(--black);
}
header a::after {
    width: var(--black) 30%;
}
.content{
    text-align: center;
}

nav {
    position: relative;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
}
nav ul li a,
.logo {
    text-decoration: none;
    margin: 1rem 2rem;
    position: relative;
}
.logo::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -4px;
    left: 0;
    width: 30%;
	background: var(--black);
}
header a {
    position: relative;
}
header nav ul li a::before{
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: solid 2px var(--black);
    transform: rotate(45deg);
    
}
header nav ul li a:hover::before{
    background-color: var(--black);
    transform: rotate(0deg);
    transition: 0.2s;
}
.hamburger,
.logo{
    font-weight: bold;
}

.hamburger{
    background-color: var(--white);
    border: none;
    padding: 0.2rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: var(--white);
    border: solid 0.125rem var(--black);
    padding: 0.2rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon span {
    display: block;
    width: .8rem;
    height: 2px;
    color: var(--black);
}
/* MAIN */
.intro {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.intro .content h1,
.logo {
    text-transform: uppercase;
}
.limited {
    margin-bottom: 6rem;
}
#less {
    display: none;
}

.gallery *:not(:nth-child(1)){
    display: none;
}

.gallery.flex *:not(:nth-child(1)){
    display: inline;
}
#less.flex{
    display: inline;
}
#more.flex {
    display: none;
}
.teasers h2 {
    text-transform: uppercase;
}
/* FOOTER */

/* BREAKPOINTS */
@media(max-width:750px){
    .icon span{
        width: 15px;
        height: 2px;
        margin: 2px auto;
        transition: all 0.3s ease;
        background-color: var(--black);
      }
    .hamburger {
        display: flex;
        gap: .8rem;
        cursor: pointer;
        
    }
    nav ul,
    nav ul li a {
        display: block;
        margin: 1rem 0;
        padding: 0;
    }
    nav ul {
        text-align: start;
    }
    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        
    }
    nav {
        display: none;
    }
    nav.dropdown {
        display: flex;
        animation: ShowDown 0.4s;
    }

    .icon.dropdown span:nth-child(1){
        transform: translateY(4px) rotate(45deg);
      }
    .icon.dropdown span:nth-child(3){
        transform: translateY(-4px) rotate(-45deg);
    }
    .icon.dropdown span:nth-child(2){
        opacity: 0;
      }

    .logo {
        margin-left: 0;
    }
    .intro .content {
        text-align: start;
    }
    .subtitle {
        text-align: start; 
    }
    .teasers section{
        margin-bottom: 6rem;
        
    }
    .teasers h2{
        letter-spacing: .2rem;
        margin-bottom: 1rem;
    }
    .teasers p {
        margin-bottom: 0.8rem;
    }
    
}

@media (prefers-color-scheme: dark) {
    :root{
    --white: #010111;
    --black: #f4f6f6;
    --primary: var(--black);
    --bg: var(--white);
}

}

/* ANIMATIONS */
@keyframes ShowDown {
    from {
      transform: translateX(-20%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
